<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ystadbryggeriet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ystadbryggeriet.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Ystadbryggeriet</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Ystadbryggeriet</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:z26w7j61ap.database.windows.net,1433;Initial Catalog=YstadbrAkJR9x1WW;User ID=Bryggeriet@z26w7j61ap;Password=Jagger23" Name="Data Source=tcp:z26w7j61ap.database.windows.net,1433;Initial Catalog=YstadbrAkJR9x1WW;User Id=Bryggeriet@z26w7j61ap;Password=Jagger23" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Ystadbryggeriet.Models.ApplicationDbContext, Ystadbryggeriet" MigrationConfiguration="Ystadbryggeriet.Migrations.Configuration, Ystadbryggeriet" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:z26w7j61ap.database.windows.net,1433;Initial Catalog=YstadbrAkJR9x1WW;User Id=Bryggeriet@z26w7j61ap;Password=Jagger23</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>