@model Ystadbryggeriet.Areas.Admin.Viewmodel.EventViewModel


@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<link href="~/Content/fullcalendar.print.css" rel='stylesheet' media='print' />
@section scripts {

<script>
    $(document).ready(function () {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: '2015-05-11',
            businessHours: true, // display business hours
            editable: true,
            events: [
                    {
                        id: 999,
                        title: 'Robert achberg',
                        start: '2015-05-11T10:00:00',
                        end: '2015-05-11T15:30:00'
                    },
                    {
                        id: 999,
                        title: 'Jakob Vesterberg',
                        start: '2015-05-11T16:00:00',
                        end: '2015-05-11T20:00:00'
                    },
                    {
                        id: 999,
                        title: 'Jakob Vesterberg',
                        start: '2015-05-011T16:00:00',
                        end: '2015-05-011T20:00:00'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2015-02-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2015-02-11',
                        end: '2015-02-13'
                    },
                    {
                        title: 'Meeting',
                        start: '2015-02-12T10:30:00',
                        end: '2015-02-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2015-02-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2015-02-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2015-02-12T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: '2015-02-12T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2015-02-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2015-02-28'
                    }
                ]
            });
		
        });


</script>
    }
<style>

    #wrap {
        width: 1100px;
        margin: 0 auto;
    }

    #calendar {
     float: left;
     width: 850px;
     margin-top: 50px;
    }
</style>
<div id='calendar'></div>
