
@{
    ViewBag.Title = "Gallery";
}

<h2>Galleri BITCHES</h2>

<style>
    .thumbnails {
        padding: 15px;
    }
</style>
<div class="content">
    <div class="page-h1">
    </div>
    <ul class="thumbnails">
        <li>
            <a class="group1" href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSns89rfld8jxRoDw2KwPbwnkpwC4MqJAcmQ8T_iAsirzw2Uxtmrg" title="Group photo 1">
            </a>
            <div class="options static">
                <a href="#"><i class="icon icon-link"></i></a>
                <a href="#"><i class="icon icon-pencil"></i></a>
                <a href="#"><i class="icon icon-remove"></i></a>
            </div>
        </li>
        <li>
            <a class="group1" href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSns89rfld8jxRoDw2KwPbwnkpwC4MqJAcmQ8T_iAsirzw2Uxtmrg" title="Group photo 2">
                <img alt="150x150" src="lib/img/gallery/2.jpg" />
            </a>
            <div class="options">
                <a href="#"><i class="icon icon-link"></i></a>
                <a href="#"><i class="icon icon-pencil"></i></a>
                <a href="#"><i class="icon icon-remove"></i></a>
            </div>
        </li>
        <li>
            <a class="group1" href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSns89rfld8jxRoDw2KwPbwnkpwC4MqJAcmQ8T_iAsirzw2Uxtmrg" title="Group photo 3">
                <img alt="150x150" src="lib/img/gallery/3.jpg" />
            </a>
            <div class="options">
                <a href="#"><i class="icon icon-link"></i></a>
                <a href="#"><i class="icon icon-pencil"></i></a>
                <a href="#"><i class="icon icon-remove"></i></a>
            </div>
        </li>
        <li>
            <a class="group1" href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSns89rfld8jxRoDw2KwPbwnkpwC4MqJAcmQ8T_iAsirzw2Uxtmrg" title="Group photo 4">
                <img alt="150x150" src="lib/img/gallery/4.jpg" />
            </a>
            <div class="icns">
                <a href="#"><i class="icon icon-link"></i></a>
                <a href="#"><i class="icon icon-pencil"></i></a>
                <a href="#"><i class="icon icon-remove"></i></a>
            </div>
        </li>
        <li>
            <a class="group1" href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSns89rfld8jxRoDw2KwPbwnkpwC4MqJAcmQ8T_iAsirzw2Uxtmrg" title="Group photo 5">
                <img alt="150x150" src="lib/img/gallery/5.jpg" />
            </a>
            <div class="icns static">
                <a href="#"><i class="icon icon-link"></i></a>
                <a href="#"><i class="icon icon-pencil"></i></a>
                <a href="#"><i class="icon icon-remove"></i></a>
            </div>
        </li>
        <li>
            <a class="group1" href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSns89rfld8jxRoDw2KwPbwnkpwC4MqJAcmQ8T_iAsirzw2Uxtmrg" title="Group photo 6">
                <img alt="150x150" src="lib/img/gallery/6.jpg" />
            </a>
        </li>
        <li>
            <a class="group1" href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSns89rfld8jxRoDw2KwPbwnkpwC4MqJAcmQ8T_iAsirzw2Uxtmrg" title="Group photo 7">
                <img alt="150x150" src="lib/img/gallery/7.jpg" />
            </a>
        </li>
    </ul>
</div>